#banner, #footer, #leftcol, #breadcrumbs, .docs #toc, .docs .courtesylinks, #leftColumn, #navColumn {
	display: none !important;
}
#bodyColumn, body.docs div.docs {
	margin: 0 !important;
	border: none !important
}
/* vi:set tabstop=4 hardtabs=4 shiftwidth=4: */
